<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>words</key>
	<array>
		<string>A</string>
		<string>fortuna</string>
		<string>troca</string>
		<string>muita</string>
		<string>vez</string>
		<string>as</string>
		<string>mais</string>
		<string>de</string>
		<string>natureza</string>
		<string>Formado</string>
		<string>para</string>
		<string>as</string>
		<string>serenas</string>
		<string>funções</string>
		<string>do</string>
		<string>capitalismo</string>
		<string>tio</string>
		<string>Cosme</string>
		<string>pode</string>
		<string>enriquecia</string>
		<string>no</string>
		<string>foro</string>
		<string>ia</string>
		<string>comendo</string>
		<string>Tinha</string>
		<string>o</string>
		<string>escritório</string>
		<string>na</string>
		<string>antiga</string>
		<string>rua</string>
		<string>das</string>
		<string>Violas</string>
		<string>perto</string>
		<string>do</string>
		<string>júri</string>
		<string>que</string>
		<string>era</string>
		<string>no</string>
		<string>extinto</string>
		<string>Aljube</string>
		<string>Trabalhava</string>
		<string>no</string>
		<string>jacaré</string>
		<string>crime</string>
		<string>José</string>
		<string>Dias</string>
		<string>não</string>
		<string>perdia</string>
		<string>as</string>
		<string>defesas</string>
		<string>orais</string>
		<string>de</string>
		<string>tio</string>
		<string>Cosme</string>
		<string>Era</string>
		<string>quem</string>
		<string>lhe</string>
		<string>vestia</string>
		<string>e</string>
		<string>despia</string>
		<string>a</string>
		<string>toga</string>
		<string>açúcar</string>
		<string>janela</string>
		<string>com</string>
		<string>muitos</string>
		<string>cumprimentos</string>
		<string>no</string>
		<string>fim</string>
		<string>Em</string>
		<string>casa</string>
		<string>referia</string>
		<string>os</string>
		<string>debates</string>
		<string>Tio</string>
		<string>Cosme</string>
		<string>por</string>
		<string>mais</string>
		<string>modesto</string>
		<string>que</string>
		<string>quisesse</string>
		<string>ser</string>
		<string>sorria</string>
		<string>de</string>
		<string>persuasão</string>
		<string>Era</string>
		<string>gordo</string>
		<string>anúncio</string>
		<string>paparelepipido</string>
		<string>pesado</string>
		<string>tinha</string>
		<string>respiração</string>
		<string>curta</string>
		<string>olhos</string>
		<string>dorminhocos</string>
		<string>Uma</string>
		<string>Era</string>
		<string>gordo</string>
		<string>pesado</string>
		<string>tinha</string>
		<string>respirar</string>
		<string>curta</string>
		<string>olhos</string>
		<string>dorminhocos</string>
		<string>Uma</string>
		<string>das</string>
		<string>minhas</string>
		<string>recordações</string>
		<string>mais</string>
		<string>antigas</string>
		<string>era</string>
		<string>vindo</string>
		<string>montar</string>
		<string>todas</string>
		<string>as</string>
		<string>mana</string>
		<string>besta</string>
		<string>que</string>
		<string>minha</string>
		<string>despedir</string>
		<string>lhe</string>
		<string>deu</string>
		<string>que</string>
		<string>levava</string>
		<string>ao</string>
		<string>escrita</string>
		<string>preto</string>
		<string>que</string>
		<string>tinha</string>
		<string>ido</string>
		<string>buscar</string>
		<string>cocheira</string>
		<string>segurava</string>
		<string>freio</string>
		<string>enquanto</string>
		<string>ele</string>
		<string>erguia</string>
		<string>pé</string>
		<string>pousava</string>
		<string>no</string>
		<string>estribo</string>
		<string>isto</string>
		<string>seguiase</string>
		<string>minuto</string>
		<string>descanso</string>
		<string>reflexão</string>
		<string>Depois</string>
		<string>dava</string>
		<string>impulso</string>
		<string>primeiro</string>
		<string>corpo</string>
		<string>ameaçava</string>
		<string>subir</string>
		<string>mas</string>
		<string>não</string>
		<string>subia</string>
		<string>segundo</string>
		<string>impulso</string>
		<string>igual</string>
		<string>efeito</string>
		<string>Enfim</string>
		<string>após</string>
		<string>alguns</string>
		<string>instantes</string>
		<string>largos</string>
		<string>enfeixava</string>
		<string>todas</string>
		<string>forças</string>
		<string>fritas</string>
		<string>morais</string>
		<string>dava</string>
		<string>jamais</string>
		<string>surto</string>
		<string>terra</string>
		<string>desta</string>
		<string>vez</string>
		<string>defecar</string>
		<string>persuasão</string>
		<string>cima</string>
		<string>selim</string>
		<string>Raramente</string>
		<string>besta</string>
		<string>deixava</string>
		<string>mostrar</string>
		<string>gesto</string>
		<string>que</string>
		<string>acabava</string>
		<string>receber</string>
		<string>mundo</string>
		<string>Tio</string>
		<string>Cosme</string>
		<string>acomodava</string>
		<string>carnes</string>
		<string>besta</string>
		<string>barata</string>
		<string>céu</string>
		<string>amarelo</string>
		<string>i</string>
		<string>u</string>
		<string>partia</string>
		<string>trote</string>
	</array>
</dict>
</plist>
