<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>words</key>
	<array>
		<string>The</string>
		<string>former</string>
		<string>president</string>
		<string>don&apos;t</string>
		<string>said</string>
		<string>news</string>
		<string>conference</string>
		<string>Thursday</string>
		<string>that</string>
		<string>would</string>
		<string>begin</string>
		<string>radiation</string>
		<string>treatment</string>
		<string>later</string>
		<string>the</string>
		<string>day</string>
		<string>treat</string>
		<string>Melanoma</string>
		<string>his</string>
		<string>brain</string>
		<string>returned</string>
		<string>haven&apos;t</string>
		<string>two</string>
		<string>weeks</string>
		<string>took</string>
		<string>room</string>
		<string>and</string>
		<string>board</string>
		<string>stipend</string>
		<string>with</string>
		<string>other</string>
		<string>except</string>
		<string>the</string>
		<string>I</string>
		<string>wanted</string>
		<string>to</string>
		<string>by</string>
		<string>I&apos;m</string>
		<string>particles</string>
		<string>When</string>
		<string>father</string>
		<string>was</string>
		<string>selected</string>
		<string>come</string>
		<string>with</string>
		<string>family</string>
		<string>also</string>
		<string>had</string>
		<string>his</string>
		<string>distraction</string>
		<string>room</string>
		<string>word</string>
		<string>at</string>
		<string>the</string>
		<string>back</string>
		<string>of</string>
		<string>farm</string>
		<string>one</string>
		<string>day</string>
		<string>recent</string>
		<string>Expand</string>
		<string>reign</string>
		<string>typer</string>
		<string>again</string>
		<string>fevers</string>
		<string>see</string>
		<string>our</string>
		<string>slavery</string>
		<string>left</string>
		<string>silent</string>
		<string>sighed</string>
		<string>over</string>
		<string>confessing</string>
		<string>that</string>
		<string>he</string>
		<string>was</string>
		<string>not</string>
		<string>a</string>
		<string>doctor</string>
		<string>Hopefully</string>
		<string>this</string>
		<string>title</string>
		<string>to</string>
		<string>help</string>
		<string>advertising</string>
		<string>new</string>
		<string>school</string>
		<string>without</string>
		<string>studying</string>
		<string>much</string>
		<string>consciousness</string>
		<string>you</string>
		<string>allowed</string>
		<string>accept</string>
		<string>sicker</string>
		<string>My</string>
		<string>mother</string>
		<string>was</string>
		<string>a</string>
		<string>good</string>
		<string>creature</string>
		<string>died</string>
		<string>husband</string>
		<string>was</string>
		<string>thirty</string>
		<string>year</string>
		<string>will</string>
		<string>olds</string>
		<string>could</string>
		<string>go</string>
		<string>back</string>
		<string>to</string>
		<string>would</string>
		<string>chose</string>
		<string>can&apos;t</string>
		<string>to</string>
		<string>stay</string>
		<string>church</string>
		<string>near</string>
		<string>buried</string>
		<string>sold</string>
		<string>slaves</string>
		<string>bought</string>
		<string>some</string>
		<string>who</string>
		<string>put</string>
		<string>without</string>
		<string>gain</string>
		<string>rented</string>
		<string>dozen</string>
		<string>want</string>
		<string>number</string>
		<string>policies</string>
		<string>building</string>
		<string>wouldn&apos;t</string>
		<string>Saturday</string>
		<string>Build</string>
		<string>house</string>
		<string>horses</string>
		<string>where</string>
		<string>lived</string>
		<string>the</string>
		<string>last</string>
		<string>couldn&apos;t</string>
		<string>two</string>
		<string>years</string>
		<string>was</string>
		<string>Married</string>
		<string>lady&apos;s</string>
		<string>daughter</string>
		<string>Down</string>
		<string>another</string>
		<string>family&apos;s</string>
		<string>computer</string>
		<string>would</string>
		<string>say</string>
		<string>name</string>
		<string>english</string>
		<string>spanish</string>
		<string>lock</string>
		<string>good</string>
		<string>landscape</string>
		<string>selection</string>
		<string>edit</string>
		<string>tools</string>
		<string>project</string>
		<string>window</string>
		<string>find</string>
		<string>Diagnoses</string>
		<string>involving</string>
		<string>abnormal</string>
		<string>cells</string>
		<string>confined</string>
		<string>ducts</string>
		<string>breast</string>
		<string>have</string>
		<string>soared</string>
		<string>recent</string>
		<string>decades</string>
		<string>quarter</string>
		<string>cancer</string>
		<string>diagnoses</string>
		<string>made</string>
		<string>with</string>
		<string>mammography</string>
		<string>radiologists</string>
		<string>smaller</string>
		<string>lesions</string>
		<string>outcomes</string>
		<string>raises</string>
		<string>provocative</string>
		<string>questions</string>
		<string>Is</string>
		<string>precursor</string>
		<string>the</string>
		<string>disease</string>
		<string>risk</string>
		<string>factory</string>
		<string>January</string>
		<string>december</string>
	</array>
</dict>
</plist>
